*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color:silver
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(43, 43, 43)
}

.container{
    height: 800px;
    width: 800px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid rgb(114, 113, 113);
}

.childDiv{
    border: 1px solid rgb(114, 113, 113);
}

.prompt{
    display: flex;
    justify-content: center;
    padding-top: 20px; 
    font-size: 20px; 
}



.grid-btn, .clear-btn{
    border: solid 1px black;
    border-radius: 4px;
    margin-left: 20px;
    font-size: 20px;
    padding: 4px;
    background-color: aliceblue
    
}
